body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background: #2B2B2B;
    height: 705x;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 15px 5px 5px 50px;
    outline: none;
}

#tabs {
    display: inline-block;
}

#tabs li {
    display: inline;
}

#tabs li button {
    background: #2B2B2B;
    color: #FFBF43;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 30px;
    outline: none;
    width: 100px;
    display: inline-block;
}

#tabs li button:hover {
    color: black;
    background: #FFBF43;
}

#container p {
    text-align: center;
}

#container .profile {
    clear: both;
    display: inline-block;
    margin: 50px 70px 0px 50px;
    padding: 55px 20px 0px 70px;
}

.container-students {
    display: inline-block;
    margin: 20px 30px 20px 80px;
}

#search-input {
    font-size: 15px;
    height: 30px;
    margin: 20px 100px 50px 50px;
    outline: none;
    width: 300px;
    display: none;
}

#container {
    display: none;
}


/* temporal */

#display-numbercity,
#display-numbergeneration {
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    margin: 60px 45px 30px 45px;
    padding-top: 20px;
    text-align: center;
    width: 250px;
    vertical-align: top;
}

.title-number {
    font-size: 18px;
}

#number-city,
#number-generation {
    font-size: 80px;
    margin: 40px;
}

#chart-active {
    display: inline-block;
    width: auto;
    border: 1px solid black;
}