<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Perfil Alumna</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" type="image/gif" href="../../assets/images/laboratoria-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <header>
        <a href="../../dashboard.html"><img id="logo" src="../../assets/images/laboratoria-logo.png"></a>
    </header>

    <section id="content">
        <div id="profile">
            <img id="profilepic" src="https://dummyimage.com/200x300">
            <p>Nombre de la alumna</p>
            <p>Turno</p>
            <p>Mail</p>
            <p>Especialización</p>
            <p><a href="../puntos-sprint/index.html">Más información</a></p>
        </div>
        <div>
            <div id="pie1">
                <img class="pie" src="../../assets/images/circle-graphic.png">
                <p>Puntaje técnico</p>
            </div>
            <div id="pie2">
                <img class="pie" src="../../assets/images/circle-graphic.png">
                <p>Puntaje HSE</p>
            </div>
            <div id="line1">
                <img class="line" src="../../assets/images/graph.png">
                <p>Puntaje técnico por sprint</p>
            </div>
            <div id="line2">
                <img class="line" src="../../assets/images/graph.png">
                <p>Puntaje HSE por sprint</p>
            </div>

        </div>
    </section>

</body>

</html>