<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Puntos por sprint</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="icon" type="image/gif" href="../../assets/images/laboratoria-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <header>
        <a href="../../dashboard.html"><img id="logo" src="../../assets/images/laboratoria-logo.png"></a>
    </header>
    <main>
        <select>
                    <option>Selecciona un sprint</option>
                    <option value="1" data-sprint="1">1</option>
                    <option value="2" data-sprint="2">2</option>
                    <option value="3" data-sprint="3">3</option>
                    <option value="4" data-sprint="4">4</option>
            </select>
        <div id="profile">
            <p>Nombre de la alumna</p>
            <p>Turno</p>
            <p>Mail</p>
            <p>Especialización</p>
        </div>
        <section id="tech-table">
            <table>
                <tr>
                    <th>Evaluación técnica</th>
                    <th>Valor</th>
                    <th>Puntaje obtenido</th>
                </tr>
                <tr>
                    <td>Quizzes</td>
                    <td>300</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Retos</td>
                    <td>1000</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>Producto final</td>
                    <td>800</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>2100</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Porcentaje técnico final</td>
                    <td></td>
                    <td>95%</td>
                </tr>
            </table>
        </section>
        <section id="hse-table">
            <table>
                <tr>
                    <th>Evaluación HSE</th>
                    <th>Valor</th>
                    <th>Puntaje obtenido</th>
                </tr>
                <tr>
                    <td>Comunicación</td>
                    <td>240</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Trabajo en equipo</td>
                    <td>240</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Excelencia</td>
                    <td>240</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Manejo de estrés</td>
                    <td>240</td>
                    <td>230</td>
                </tr>
                <tr>
                    <td>Asistencia y puntualidad</td>
                    <td>240</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>1200</td>
                    <td>1070</td>
                </tr>
                <tr>
                    <td>Porcentaje HSE final</td>
                    <td></td>
                    <td>89%</td>
                </tr>
            </table>
        </section>
    </main>

</body>

</html>